data_augmentation/Harmful Birds Detection.v1i.yolov11/
data_augmentation/Subject images crows/
data_augmentation/files_to_clean_nopixels/
venv/
data/
__pycache__/
run_13_lr0.01_mos0.0_sc0.3/weights/best.pt
grid_search_yolo/run_13_lr0.01_mos0.0_sc0.3/weights/last.pt
grid_search_yolo/run_8_lr0.005_mos0.0_sc0.5/weights/best.pt
**/*.pt
